<button (click)="testMessage()">Test Slack Message</button>
<div *ngIf="authService.afAuth.user | async as  user; else showLogin">
  <!--
  <button *ngIf="authService.afAuth.user"
          (click)="logout()">
    logout
  </button>-->
  <h1>Ottawa Resistence - Slack Registration</h1>
  <p *ngIf="!init">Welcome <span *ngIf="authService.user">{{this.authService.user.displayName}}!
    <span *ngIf="saved">You are already registered.</span>
    </span>
      <button *ngIf="!init"
            (click)="testUid()">
      Continue
    </button>
  </p>
  <ul *ngIf="init && !saved">
    <li>Step 1:
      <button
        (click)="enterIngressName()">
        Enter your Ingress Name
      </button>
    </li>
  </ul>
  <div *ngIf="pin">
    <ul><li>Step 1: Complete
    <ul>
      <li>ingress name: {{name}}</li>
      <li>pin: {{pin}}</li>
    </ul>
    </li></ul>
    <p *ngIf="!confirmed">If this information is correct
      <button
        (click)="confirm()">
        Confirm
      </button>
    </p>
    <p *ngIf="confirmed && !saved">
      Okay ready to Go! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;click
      <button
        (click)="save()">
        SAVE
      </button>
    </p>
  </div>
  <ul *ngIf="saved">
    <li>Step 2: Copy your Pin:
      <input type="text" id="pin" name="pin" size="8" disabled="disabled" [value]="pin">
    </li>
    <li>Step 3: Open Ingress and paste your Pin on the Faction Chat.</li>
    <li>
      <ul>
        <li></li>
        <li><strong>Wait</strong> ( an admin will read your pin message soon )</li>
        <li>The administrator will email a <strong>Slack</strong> invitation to {{this.authService.user.email}}</li>
      </ul>
    </li>
    <li></li>
    <li><strong>Unsatisfied</strong> with this registration click
      <button
        (click)="remove(authService.user.uid, name, true)">
        REMOVE MY REGISTRATION
      </button> to erase all registration data.
    </li>
  </ul>
  <div *ngIf="userService.allResNames && isAdmin">
    <h1>For Admins Only!</h1>
    <p>See G12mo for more info</p>
    <div *ngFor="let data of userService.allResNames">
      {{data.name}} Pin: {{data.pin}}&nbsp;&nbsp;
      <input type="text" id="email" name="email" size="64" disabled="disabled" [value]="data.email">
      <button
        (click)="remove(data.userUid, data.name, false)">
        REMOVE
      </button>
    </div>
  </div>
</div>

<ng-template #showLogin>
  <div class="blue_back">
    <div class="login_form">
      <div class="my-content">
        Ottawa Resistence<br><br>
      </div>
      <div (click)="login()" class="google_login" id="g_btn"></div>
    </div>
  </div>
</ng-template>
